<!DOCTYPE html>
<html data-ng-app="">
	
	<script src="angular.min.js"> </script>
	<body data-ng-init="customers=[{name:'Dave',city:'Cochin'},{name:'Sreeprasad',city:'New York'},{name:'Dichu',city:'Chennai'}]">
		<h1> hello world !</h1>
		<div class="container">
			Name : <br/><input type="text" data-ng-model="name" />{{name}} 
			<h3> looping through </h3>

			<ul>
				<li data-ng-repeat="cust in customers | filter:name | orderBy:city">{{cust.name | uppercase}},{{cust.city| lowercase}}</li>
			</ul>

		</div>
	</body>

</html>